/* header style  */
.team-heading {
  background-color: #e5e1da;
  border-bottom: 5px solid black;
}

.card-header-manager {
  background-color: darkgoldenrod;
  color: white;
}

.card-eng-int {
  background-color: darkcyan;
}
/* footer style */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-top: 5px solid black;
  background-color: #e5e1da;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

footer .footer-name {
  margin: 0 5px;
}
